<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>User Management</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="/Master/Table" class="btn btn-primary btn-lg btn-block">
                    Listar Todos os Usuarios
                </a>
            </div>
            <div class="col-md-6">
                <a href="/Master/Create" class="btn btn-success btn-lg btn-block">
                    Adicionar novo Usuário
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  
</body>
</html>