@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLogOff";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-4 text-danger">Acesso Negado</h1>
            <p class="lead">Você não tem permissão para acessar esta página.</p>
            <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->

</body>
</html>
